<ul class="sidebar-menu">
	<!-- Optionally, you can add icons to the links -->
	<li class="header"></li>
	<li id="menu-1" class="treeview">
				<a href="#">
					<i class="fa fa-circle-o"></i>
					网站性能监控
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li id="menu-http">
						<a href="__APP__/Task/tasklist/type/http">
							<i class="fa fa-circle-o"></i>
							http
						</a>
					</li>
					<li id="menu-ping">
						<a href="__APP__/Task/tasklist/type/ping">
							<i class="fa fa-circle-o"></i>
							ping
						</a>
					</li>
					<li id="menu-ftp">
						<a href="__APP__/Task/tasklist/type/ftp">
							<i class="fa fa-circle-o"></i>
							ftp
						</a>
					</li>
					<li id="menu-tcp">
						<a href="__APP__/Task/tasklist/type/tcp">
							<i class="fa fa-circle-o"></i>
							tcp
						</a>
					</li>
					<li id="menu-udp">
						<a href="__APP__/Task/tasklist/type/udp">
							<i class="fa fa-circle-o"></i>
							udp
						</a>
					</li>
					<li id="menu-dns">
						<a href="__APP__/Task/tasklist/type/dns">
							<i class="fa fa-circle-o"></i>
							dns
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="__APP__/TaskServer">
					<i class="fa fa-circle-o"></i>
					服务器性能监控
				</a>
				
			</li>
			<li id="menu-3">
				<a href="#">
					<i class="fa fa-circle-o"></i>
					服务性能
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li id="menu-apache">
						<a href="__APP__/Task/tasklist/type/apache">
							<i class="fa fa-circle-o"></i>
							Apache
						</a>
					</li>
					<li id="menu-tomcat">
						<a href="__APP__/Task/tasklist/type/tomcat">
							<i class="fa fa-circle-o"></i>
							Tomcat
						</a>
					</li>
					<li id="menu-nginx">
						<a href="__APP__/Task/tasklist/type/nginx">
							<i class="fa fa-circle-o"></i>
							Nginx
						</a>
					</li>
					<li id="menu-mysql">
						<a href="__APP__/Task/tasklist/type/mysql">
							<i class="fa fa-circle-o"></i>
							Mysql
						</a>
					</li>
					<li id="menu-sqlserver">
						<a href="__APP__/Task/tasklist/type/sqlserver">
							<i class="fa fa-circle-o"></i>
							Sqlserver
						</a>
					</li>
				</ul>
			</li>

</ul>