<ul class="sidebar-menu">
	<!-- Optionally, you can add icons to the links -->
	<li class="header"></li>
	<li class="treeview">
		<a href="#"> <i class="fa fa-link"></i>
			<span>监控设置</span>
			<span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
		<ul class="treeview-menu">
			<li>
				<a href="#">
					<i class="fa fa-circle-o"></i>
					网站性能监控
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							http
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							ping
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							ftp
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							tcp
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							udp
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							dns
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-circle-o"></i>
					服务器性能监控
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							CPU
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							内存
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							磁盘
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							网络
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-circle-o"></i>
					服务性能
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							Apache
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							Tomcat
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							Nginx
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-circle-o"></i>
							Mysql
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-circle-o"></i>
					文件监控
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-circle-o"></i>
					进程监控
				</a>
			</li>
		</ul>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-link"></i>
			<span>用户中心</span>
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-link"></i>
			<span>标签设置</span>
		</a>
	</li>
</ul>